<template>
<div>
   <h2>{{ pageTitle }}</h2>
   <el-form v-loading="loading" :model="form" :rules="rules" ref="ruleForm" :label-position="labelPosition">
      <el-form-item label="Nombres" prop="names">
        <el-input v-model="form.names" style="width: 300px"></el-input>
      </el-form-item>
      <el-form-item label="Apellidos" prop="surnames">
        <el-input v-model="form.surnames" style="width: 300px"></el-input>
      </el-form-item>
      <el-form-item label="Fecha de Nacimiento" prop="birthDate">
        <el-date-picker placeholder="Seleccione" v-model="form.birthDate" format="dd/MM/yyyy" style="width: 300px"></el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button @click="save" type="primary">Guardar</el-button>
        <el-button @click="back" type="default">Cancelar</el-button>
      </el-form-item>
    </el-form>
</div>
</template>

<script>
export default {
  name: "CustomerCreateOrUpdate",
  data() {
    return {
      labelPosition: 'top',
      form: {
        id: 0,
        names: null,
        surnames: null,
        birthDate: null
      },
      rules: {
        names: [
          { required: true, message: "Debe ingresar un nombre" },
          { min: 3, message: "Debe contener como mínimo 3 caracteres" }
        ],
        surnames: [{ required: true, message: "El apellido es requerido" }],
        birthDate: [{ required: true, message: "La fecha de nacimiento es requerida" }]
      }
    };
  },
  computed: {
    pageTitle() {
      return this.form.id === 0 ? "Nuevo cliente" : `${this.form.surnames}, ${this.form.names}`;
    }
  },
  created() {
    let self = this;
    self.get(self.$route.params.id);
  },
  methods: {
    get(id) {
      if(id == undefined) return;
      let self = this;
      self.loading = true;
      self.$store.state.services.customerService
        .get(id)
        .then(r => {
          self.loading = false;
          self.form.id = r.data.id;
          self.form.names = r.data.names;
          self.form.surnames = r.data.surnames;
          self.form.birthDate = r.data.birthDate.toString('dd/MM/yyyy');
        })
        .catch(r => {
          self.$message({
            message: "Ocurrió un error inesperado",
            type: "error"
          });
        });
    },
    save() {
      let self = this;
      self.$refs["ruleForm"].validate(valid => {
        if (valid) {
          self.loading = true;
          if(self.form.id > 0) {
            self.$store.state.services.customerService
            .update(self.form)
            .then(r => {
              self.loading = false;
              self.$router.push('/customers');
            })
            .catch(r => {
              self.$message({
                message: "Ocurrió un error inesperado",
                type: "error"
              });
            });
          } else {
            self.$store.state.services.customerService
              .add(self.form)
              .then(r => {
                self.loading = false;
                self.$router.push('/customers');
              })
              .catch(r => {
                self.$message({
                  message: "Ocurrió un error inesperado",
                  type: "error"
                });
              });
          }
        }
      });
    },
    back(){
        let self = this;
        self.$router.push('/customers');
    }
  }
};
</script>