
<template>
<div>
   <h2>Listado de Clientes</h2>
   <el-table v-loading="loading" :data="tableData.filter(data => !search || data.names.toLowerCase().includes(search.toLowerCase()))" style="width: 100%">
        <el-table-column prop="names" label="Nombres" ></el-table-column>
        <el-table-column prop="surnames" label="Apellidos" ></el-table-column>
        <el-table-column prop="birthDate" label="Fecha de Nacimiento" :formatter="formatter" width="500" ></el-table-column>
        <el-table-column align="right">
        <template slot="header" slot-scope="scope">
          <el-input v-model="search" placeholder="Buscar por nombre" size="mini"/>
        </template>
        <template slot-scope="scope">
          <el-button type="danger" size="mini" @click="remove(scope.row.id)">Eliminar</el-button>
          <el-button size="mini" @click="$router.push(`/customers/${scope.row.id}/edit`)">Editar</el-button>
        </template>
        </el-table-column>
    </el-table>
</div>
</template>

<script>
export default {
  name: "CustomerIndex",
  data() {
    return {
      tableData: [],
      search: '',
      loading: false
    };
  },
  created() {
    let self = this;
    self.getAll();
  },
  methods: {
      formatter(row, column) {
        var today = new Date(row.birthDate).toLocaleDateString('en-GB', {
          day : 'numeric',
          month : 'short',
          year : 'numeric'
        }).split(' ').join('-');

        return today; 
      },
      getAll() {
          let self = this;
          
          self.loading = true;

          self.$store.state.services.customerService
            .getAll()
            .then(r => {
              self.loading = false;
              self.tableData = r.data;
            })
            .catch(r => {
              self.$message({
                message: "Ocurrió un error inesperado",
                type: "error"
              });
            });
        },
        remove(id) {
        let self = this;
        self
        .$confirm("Esta seguro de realizar esta acción?", "Confirmación", {
          confirmButtonText: "Si",
          cancelButtonText: "Cancelar",
          type: "warning"
        })
        .then(() => {
          _remove();
        })
        .catch(() => {});
        function _remove() {
        self.$store.state.services.customerService
          .remove(id)
          .then(r => {
            self.loading = false;
            self.getAll();
          })
          .catch(r => {
            self.$message({
              message: "Ocurrió un error inesperado",
              type: "error"
            });
          });
      }
    }
  }
};
</script>