<template>
  <div>
    <h2>Dashboard</h2>
    <p>Mantenimiento de clientes (Id, Nombres, Apellidos, Fecha de Nacimiento)</p>
    <p>Construido sobre:</p>
    <ul>
      <li><b>Vue:</b> Front End.</li>
      <li><b>API .Net Core:</b> Back End.</li>
      <li><b>EntityFramework Core:</b> Con Migrations para poder construir la base de datos.</li>     
      <li><b>SPA:</b> Aplicación de página única.</li>
    </ul>
    <p>En el mantenimiento puedes agregar, editar, buscar y eliminar un cliente.</p>
  </div>
</template>

<script>
export default {
  name: 'Default'
}
</script>